.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.main-title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
  position: relative;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
}

.card {
  border: 1px solid #e2e8f0;
  box-shadow: 0 0 2px 0 var(--text);
  border-radius: 0.5rem;
  overflow: hidden;
}

card:hover {
  box-shadow: 0 0 10px 0 var(--primary);
}

.card-header {
  padding: 1rem;
  /*background-color: #f7fafc;*/
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.card-description {
  font-size: 0.875rem;
  /*color: #4a5568;*/
}

.card-content {
  padding: 1rem;
}

.tag-section {
  margin-bottom: 1rem;
}

.tag-title {
  font-size: 0.875rem;
  font-weight: semibold;
  margin-bottom: 0.5rem;
}

.tag-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.tag {
  font-size: 0.75rem;
  padding: 0.25rem 0.5rem;
  border-radius: 9999px;
}

.tag-language {
  background-color: var(--text);
  color: var(--bg);
}

.tag-tool {
  background-color: var(--text);
  color: var(--bg);
}

.tag-tech {
  background-color: var(--text);
  color: var(--bg);
}

.tag-language:hover,
.tag-tool:hover,
.tag-tech:hover {
  cursor: pointer;
  background-color: var(--primary);
}
