.layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  min-height: 300px;
  width: 100vw;
  min-width: 300px;
  max-width: 800px;
  /*border: solid 1px var(--text);*/
  /*border-width: 0 1px;*/
  padding: 2%;
  gap: 2%;


  .main {
    overflow-y: auto;
    width: 100%;
    height: 100%;
  }
}
